body {
  margin: 0;
  padding: 0;
    font-family: 'Star Jedi', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://res.cloudinary.com/dldclv2km/image/upload/v1681847415/b18d2aa82ffba40af3a6a2168eab4ffc_ozifad.jpg);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
